body {

}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main{

}

footer {

}

img {
  margin: 0 10px;
  border: 1px lightgrey solid;
}

table, tr, th {
  border-spacing: 10px;
}

.images{
  display: flex;
  flex-direction: row;
}

#chart{
  width: 1000px;
}
