body {

}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main{

}

footer {

}

img{
  margin: 0 10px;
  border: 1px lightgrey solid;
}

.images{
  display: flex;
  flex-direction: row;
}
